.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.6px;
}

.inputContainer {
  position: relative;

  input,
  select,
  textarea {
    width: 100%;
    min-height: 4.4rem;

    border: 2px solid transparent;
    outline: none;

    color: inherit;

    font-size: 2rem;
    border-radius: 4px;

    padding: 0.5rem 1rem 0.5rem 1rem;

    background-color: var(--color-background-2);

    box-shadow: 0 4px 4px var(--color-background-1);

    transition: all 0.3s;
  }

  input[id="password"] {
    padding: 0.5rem 5rem 0.5rem 1rem;
  }

  textarea {
    resize: vertical;
  }

  input:hover,
  input:active,
  input:focus,
  input:focus-within,
  input:not(:placeholder-shown),
  select:hover,
  select:active,
  select:focus,
  select:focus-within,
  select:not(:placeholder-shown),
  textarea:hover,
  textarea:active,
  textarea:focus,
  textarea:focus-within,
  textarea:not(:placeholder-shown) {
    border: 2px solid var(--color-accent-violet-1);
  }

  input[type="color"] {
    padding-right: 1rem;
    height: 4.4rem;

    cursor: pointer;
  }

  input[type="color"]::-webkit-color-swatch {
    border: none;
  }
}

.passwordButton {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);

  background: none;
  border: none;

  cursor: pointer;

  transition: all 0.3s;

  color: inherit;

  outline: none;

  svg {
    width: 2.8rem;
    height: 2.8rem;
  }
}

.passwordButton:hover,
.passwordButton:focus-visible {
  color: var(--color-accent-violet-1);
}

.error {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.25px;

  padding-left: 2px;
  margin-top: 0.25rem;

  color: var(--color-red-1);
}
