.aside {
  background-color: var(--color-background-2);

  border-right: 2px solid var(--color-background-4);

  padding-right: 2rem;
  padding-bottom: 2rem;

  display: flex;
  flex-direction: column;
  height: 100dvh;

  & .logoWrapper {
    padding-left: 2.5rem;
    flex-shrink: 0;
  }
}

@media screen and (max-width: 750px) {
  .aside {
    position: fixed;

    width: 100%;
    height: 100dvh;

    z-index: 100;

    border-right: 0;

    transition: all 0.4s;

    left: -100%;

    visibility: hidden;
    pointer-events: none;
  }

  .logoWrapper {
    position: relative;

    & > button {
      position: absolute;

      top: 50%;

      right: 0;

      transform: translateY(-50%);
    }
  }

  .open {
    visibility: visible;
    pointer-events: initial;
    position: fixed;

    left: 0%;
  }
}
