:root {
  --color-text-primary: #feffff;
  --color-text-secondary: #9ca3af;

  --color-accent-violet-1: #645fc6;
  --color-accent-violet-2: #5a54c2;
  --color-accent-violet-3: #4f49be;
  --color-red-1: #fc1c1c;

  --color-background-1: #21212d;
  --color-background-2: #2c2c38;
  --color-background-3: #23232f;
  --color-background-4: #40404c;

  --color-background-1-opacity: rgba(33, 33, 45, 0.95);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.5;

  color: var(--color-text-primary);
  background-color: var(--color-background-1);

  -webkit-font-smoothing: antialiased;

  overflow: hidden;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

input:autofill,
input:autofill:hover,
input:autofill:focus,
textarea:autofill,
textarea:autofill:hover,
textarea:autofill:focus,
select:autofill,
select:autofill:hover,
select:autofill:focus,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  font: inherit;
  font-size: 2rem;

  border: 2px solid var(--color-accent-violet-1);
  -webkit-text-fill-color: var(--color-text-primary);
  -webkit-box-shadow: 0 0 0px 1000px var(--color-background-2) inset;
  transition: background-color 300s ease-in-out 0s;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-background-2);
}

::-webkit-scrollbar-thumb {
  background: var(--color-accent-violet-1);

  transition: all 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-accent-violet-3);
}

::selection {
  background-color: var(--color-accent-violet-1);
  color: var(--color-text-primary);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: rect(0, 0, 0, 0);
  border: 0;
}

.react-select-container {
  position: relative;
  width: 100%;

  cursor: pointer !important;
}

.react-select__control {
  border: 2px solid transparent !important;
  border-radius: 4px !important;
  background-color: var(--color-background-2) !important;
  box-shadow: 0 4px 4px var(--color-background-1) !important;
  font-size: 2rem !important;
  color: inherit;
  cursor: pointer !important;
  transition: all 0.3s !important;
}

.react-select__control:hover,
.react-select__control--is-focused {
  border: 2px solid var(--color-accent-violet-1) !important;
  box-shadow: 0 4px 4px var(--color-background-1) !important;
}

.has-value .react-select__control {
  border: 2px solid var(--color-accent-violet-1) !important;
}

/* Focus ma priorytet nad has-value */
.has-value .react-select__control--is-focused {
  border: 2px solid var(--color-accent-violet-1) !important;
}

.react-select__input-container,
.css-hlgwow {
  margin: 0 !important;
  padding: 0 !important;

  padding-inline: 1rem !important;
}

.react-select__input input {
  font-size: 2rem !important;
  color: inherit !important;
}

.react-select__placeholder {
  font-size: 2rem !important;
  color: red !important;
}

.react-select__single-value {
  font-size: 2rem !important;
  color: inherit !important;
}

.react-select__menu {
  background-color: var(--color-background-2) !important;
  /* border: 2px solid var(--color-background-2) !important; */
  border: 2px solid var(--color-accent-violet-1) !important;
  border-radius: 4px !important;
  box-shadow: 0 4px 4px var(--color-background-1) !important;
  z-index: 9999 !important;
}

.react-select__menu-list {
  padding: 0 !important;
  max-height: 200px !important;

  display: flex;
  flex-direction: column;

  gap: 0.35rem;
}

.react-select__option {
  font-size: 2rem !important;
  color: inherit !important;
  cursor: pointer !important;
  padding: 1rem !important;
  transition: all 0.3s !important;
  background-color: transparent !important;
}

.react-select__option:hover,
.react-select__option--is-focused {
  background-color: var(--color-accent-violet-2) !important;
}

.react-select__option--is-selected {
  background-color: var(--color-accent-violet-1) !important;
  color: white !important;
}

.react-select__option--is-selected:hover {
  background-color: var(--color-accent-violet-1) !important;
}

.react-select__indicators {
  padding-right: 1rem !important;
}

.react-select__dropdown-indicator {
  color: var(--color-accent-violet-1) !important;
  padding: 0.8rem !important;
  transition: all 0.3s !important;
}

.react-select__dropdown-indicator:hover {
  color: var(--color-accent-violet-1) !important;
}

.react-select__control--menu-is-open .react-select__dropdown-indicator {
  transform: rotate(180deg) !important;
}

.react-select__clear-indicator {
  color: inherit !important;
  padding: 0.8rem !important;
  transition: all 0.3s !important;
}

.react-select__clear-indicator:hover {
  color: var(--color-red-1, #ff0000) !important;
}

.react-select__indicator-separator {
  background-color: var(--color-accent-violet-1) !important;
  width: 2px !important;
}
